* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.layoutContainer {
  display: flex;
}
.contactsCol {
  margin: 4px, 4px;
  padding: 4px;
  /* background-color: green; */
  min-width: 28rem;
  height: 65.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
/* customizing scroll bar */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  height: 10px;

  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.chatsCol {
  width: 100%;
  /* background-color: rgb(106, 43, 43); */
  height: 100vh;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
}
.chatsCol .chatColDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 68%;
}
.chatsCol .chatColDiv .textContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 7rem;
  /* border: 1px solid blue; */
  justify-content: space-around;
}
.chatsCol .chatColDiv .connectImage {
  width: 240px;
  height: 240px;
}
.chatsCol .chatColDiv .imageCont {
  width: 250px;
  height: 250px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chatsCol .chatColDiv .textContent span {
  font-size: 32px;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  color: #525252;
}
.chatsCol .chatColDiv .textContent p {
  font-size: 15px;
  color: #a0a1a2;
}
.topHeader {
  width: 100%;
  height: 200px;
  background-color: #f6f6f6;
  /* position: sticky; */
}

.profileDisplay {
  width: 100%;
  height: 3.7rem;
  background-color: #ededed;
}
.notificationMsgCont {
  width: 100%;
  height: auto;
  background: #9de1fe;
}
.notificationMsgCont .notificationContent {
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */
  display: flex;
  height: 5.5rem;
  align-items: center;
}

.notificationMsgCont .notificationContent .icon {
  width: 50px;
  background-color: #f5fcff;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid rgb(4, 4, 191); */

  display: flex;
  justify-content: center;
  align-items: center;
  color: #9de1fe;
}
.notificationMsgCont .notificationContent .iconCont {
  margin-left: 1rem;
  margin-right: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationMsgCont .notificationContent .notificationsText {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #404b4f;
  /* border: 1px solid blue; */
  width: 80%;
}

.notificationMsgCont .notificationContent .notificationsText {
  cursor: pointer;
}
.notificationMsgCont .notificationContent .notificationMsg p {
  font-size: 1.1rem;
  color: #363a3c;
}
.notificationMsgCont .notificationContent .notificationMsg {
  z-index: -1;
}
.notificationMsgCont .notificationContent .notificationMsg span:hover {
  border-bottom: 1px solid #363a3c;
}
.notificationMsgCont .notificationContent .notificationMsg span {
  font-size: 0.95rem;
}
.profileDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileDisplay .profileIcon {
  width: 50px;
  background-color: #f5fcff;
  height: 50px;
  border-radius: 50%;
  /* border: 1 px solid rgb(4, 4, 191); */
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9de1fe;
  cursor: pointer;
}

.profileDisplay .profileActions {
  width: 40%;
  /* border: 1px solid blue; */
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.profileDisplay .avatarImage {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  display: none;
}
.profileDisplay .profileActions div {
}
.MuiMenu-paper {
  width: 13rem;
  height: 15rem;
  /* margin-left: -2rem; */
}
