* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.layoutContainer {
  display: flex;
}
.column1 {
  border-right: 1px solid #dadada;
}
/* .contactsCol {
  margin: 4px, 4px;

  min-width: 28rem;
  height: 65.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
} */
/* customizing scroll bar */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  height: 10px;

  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.openChat {
  width: 100%;
  /* background-color: rgb(106, 43, 43); */
  height: 100vh;
  /* border: 1px solid rgb(104, 24, 35); */
}
/* .chatsCol {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
} */
/* .chatsCol .chatColDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 74%;
}
.chatsCol .chatColDiv .textContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 7rem;
  justify-content: space-around;
}
.chatsCol .chatColDiv .connectImage {
  width: 240px;
  height: 240px;
}
.chatsCol .chatColDiv .imageCont {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chatsCol .chatColDiv .textContent span {
  font-size: 32px;
  color: #525252;
}
.chatsCol .chatColDiv .textContent p {
  font-size: 15px;
  color: #a0a1a2;
} */
.topHeader {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  /* position: sticky; */
}

.profileDisplay {
  width: 100%;
  height: 3.7rem;
  background-color: #ededed;
}
.notificationMsgCont {
  width: 100%;
  height: auto;
  background: #9de1fe;
}
.notificationMsgCont .notificationContent {
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */
  display: flex;
  height: 5.5rem;
  align-items: center;
}

.notificationMsgCont .notificationContent .icon {
  width: 50px;
  background-color: #f5fcff;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid rgb(4, 4, 191); */

  display: flex;
  justify-content: center;
  align-items: center;
  color: #9de1fe;
}
.notificationMsgCont .notificationContent .iconCont {
  margin-left: 1rem;
  margin-right: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationMsgCont .notificationContent .notificationsText {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #404b4f;
  /* border: 1px solid blue; */
  width: 80%;
}

.notificationMsgCont .notificationContent .notificationsText {
  cursor: pointer;
}
.notificationMsgCont .notificationContent .notificationMsg p {
  font-size: 1.1rem;
  color: #363a3c;
}
.notificationMsgCont .notificationContent .notificationMsg {
  z-index: -1;
}
.notificationMsgCont .notificationContent .notificationMsg span:hover {
  border-bottom: 1px solid #363a3c;
}
.notificationMsgCont .notificationContent .notificationMsg span {
  font-size: 0.95rem;
}
.profileDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileDisplay .profileIcon {
  width: 50px;
  background-color: #f5fcff;
  height: 50px;
  border-radius: 50%;
  /* border: 1 px solid rgb(4, 4, 191); */
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9de1fe;
  cursor: pointer;
}

.profileDisplay .profileActions {
  width: 40%;
  /* border: 1px solid blue; */
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.profileDisplay .avatarImage {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  display: none;
}
.profileDisplay .profileActions div {
}
.MuiMenu-paper {
  width: 13rem;
  height: 15rem;
  /* margin-left: -2rem; */
}

/* USER CHAT CSS SECTION */

.userChatCont {
  width: 100%;
  height: 4.5rem;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  /* border-bottom: 1px solid #f2f2f2; */
  /* border-bottom-height: 70%; */
  cursor: pointer;
}
.userChatLayout .borderBottom {
  /* height: 3px; */
  border-bottom: 1px solid #e3e3e3;

  width: 82%;
  margin-left: auto;
}
.userChatCont:hover {
  background-color: #f5f5f5;
}
.userChatCont .chatText {
  width: 100%;
  height: 3rem;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userChatCont .chatName {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userChatCont .spansTime {
  font-size: 1rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
}

.userChatCont .spanHeading {
  font-size: 1.1rem;
  /* margin-top: 2rem; */
}

.userChatCont .msgPreview {
  margin-top: -0.7rem;
  font-size: 0.95rem;
}

.chatHead {
  margin-right: 1rem;
}
/* fdddddddddddddddddddddddddddd */

/* .openChat {
  width: 100%;
  height: 100vh;
} */

/* message */
/* 
 .msgSpace {
  width: 100%;
  height: calc(100vh - (3.6rem + 3.875rem));
  background-color: #e3e3e3;
  background-image: url("../img/bgDefault2.png");
} */
/* .msgBar {
  width: 100%;
  height: 3.875rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.msgBar .emojiIcons {
  width: 5.7rem;
  height: 3rem;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msgBar .emojiIcons .emojiCont {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgBar .emojiIcons .emoji {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgBar .emojiIcons .attachmentCont {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.msgBar .emojiIcons .attachment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgBar .msgInputCont {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgBar .msgInput {
  width: 100%;
  height: 2.625rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  color: #626262;
  background: #ffffff;
  border: none;
  padding-left: 1rem;
}
.msgBar .msgInput::placeholder {
  color: #9b9b9b;
  font-size: 0.9rem;
}
.msgBar .msgInput:focus {
  outline: none;
} */
/* .msgBar .recorderCont {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.msgBar .recorder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* speed dial */

.speedDial-photo {
  background: linear-gradient(
    to bottom,
    #ac44cf 0%,
    #ac44cf 50%,
    #bf59cf 50%,
    #bf59cf 100%
  );
}
.speedDial-document {
  background: linear-gradient(
    to bottom,
    #0063cb 0%,
    #0063cb 50%,
    #0070e6 50%,
    #0070e6 100%
  );
}
.speedDial-camera {
  background: linear-gradient(
    to bottom,
    #0063cb 0%,
    #0063cb 50%,
    #0070e6 50%,
    #0070e6 100%
  );
}

.speedDial-contact {
  background: linear-gradient(
    to bottom,
    #0795dc 0%,
    #0795dc 50%,
    #0eabf4 50%,
    #0eabf4 100%
  );
}
.speedDial-sticker {
  background: linear-gradient(
    to bottom,
    #0795dc 0%,
    #0795dc 50%,
    #0eabf4 50%,
    #0eabf4 100%
  );
}

.MuiSpeedDial-fab {
  background: #f0f0f0 !important;
}

.shadow {
  box-shadow: none !important;
}
/* .................... */
.talktext {
  padding: 0 0.4rem 0.3rem 0.4rem;

  text-align: left;
  line-height: 1.5em;
}
.talktext-sent {
  padding: 0.7rem 0.4rem 0.3rem 1em;
  text-align: left;
  line-height: 1.5em;
}
.talk-bubble {
  margin: 2.5rem 3rem 0 3rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  max-width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/* .talk-bubble .msgInfo:hover {
  border-bottom: 1px solid #363a3c;
} */
/* .talk-bubble .msgNumber {
  font-size: 0.8rem;
  color: #aab743;
  border-bottom: 1px solid #363a3c;
}
.talk-bubble .msgName {
  font-size: 0.8rem;
  color: #acafb1;
  margin-left: 0.5rem;
  border-bottom: 1px solid #363a3c;
} */
.talk-bubble-sent {
  margin: 2.5rem 3rem 0 3rem;
  z-index: 1000;
  display: inline-block;
  position: relative;
  max-width: 70%;
  height: auto;
  background-color: #d9fdd3;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.border {
  border: 8px solid #666;
}
.round {
  border-radius: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: '';
  position: absolute;
  width: -0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 10px solid;
  border-color: #fff transparent transparent transparent;
}
/* sent */
.tri-right-send.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #d9fdd3 transparent transparent transparent;
}
.tri-right-send.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 0px;
  bottom: auto;
  border: 10px solid;

  border-color: #d9fdd3 transparent transparent transparent;
}

.alignSentMsgs {
  margin-left: auto;
}
.msgTime {
  display: flex;
  height: 10px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.msgTime div {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.msgTime div span {
  font-size: 0.7rem;
  color: #718388;
  /* margin-right: 0.3rem; */
}
.msgTime div span:last-child {
  font-size: 0.7rem;
  color: #718388;
  margin-left: 0.2rem;
}
