.speedDial-photo {
  background: linear-gradient(
    to bottom,
    #ac44cf 0%,
    #ac44cf 50%,
    #bf59cf 50%,
    #bf59cf 100%
  );
}
.speedDial-document {
  background: linear-gradient(
    to bottom,
    #0063cb 0%,
    #0063cb 50%,
    #0070e6 50%,
    #0070e6 100%
  );
}
.speedDial-camera {
  background: linear-gradient(
    to bottom,
    #0063cb 0%,
    #0063cb 50%,
    #0070e6 50%,
    #0070e6 100%
  );
}

.speedDial-contact {
  background: linear-gradient(
    to bottom,
    #0795dc 0%,
    #0795dc 50%,
    #0eabf4 50%,
    #0eabf4 100%
  );
}
.speedDial-sticker {
  background: linear-gradient(
    to bottom,
    #0795dc 0%,
    #0795dc 50%,
    #0eabf4 50%,
    #0eabf4 100%
  );
}

.MuiSpeedDial-fab {
  background: #f0f0f0 !important;
}
