* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newChatCont {
  /* height: 100vh;
    min-width: 10rem;
    border: 1px solid solid blue;
    background-color: rgb(0, 0, 0);
    position: absolute; */
  /* right: 100%; */
  /* transform: translateX(-100%);   */
}

.newChatCont .newChatHeader {
  height: 6.6rem;
  width: 100%;
  background: #00bfa5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.newChatCont .content {
  width: 50%;
  height: 5rem;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
}
.newChatCont .status {
  width: 80%;
  height: 8rem;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: -1rem; */
  /* padding-left: 2rem; */
}
.newChatCont .newChatContent {
}
/* try and checkout this styling toggleSlide*/
.toggleSlide {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px;  */
  transition: ease-in 0.3s;
}

.editIcon {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.newChatCont .navArrow {
  width: 25rem;
  height: 3rem;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  color: #fff;
}
.newChatCont .navArrow p {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.newChatCont .searchBarCont {
  /* border: 1px solid blue; */
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

.newChatCont .inputSearch {
  width: 26rem;
  height: 2.1rem;
  border: none;
  border-radius: 7rem;
  font-size: 0.95rem;
  color: #737373;
  padding-left: 3.5rem;
  padding-right: 1rem;
}

.newChatCont .inputSearch:focus {
  outline: none;
}

.newChatCont .searchIconCont {
  position: absolute;
  margin-left: -23rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newChatCont .searchIconCont .MuiSvgIcon-root {
  width: 1.2rem;
  height: 1.2rem;
  /* display: none; */
}

.newChatCont .clearIconCont {
  position: absolute;
  margin-left: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newChatCont .clearIconCont .MuiSvgIcon-root {
  color: #666c6f;

  width: 1.2rem;
  height: 1.2rem;
}

/* contact */
.newChatCont .contactCont {
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  /* justify-content: center; */
}
.newChatCont .contactCont:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.newChatCont .contactCont .addGrpIcon {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #009688;
  color: #fff;
}
.newChatCont .contactCont h4 {
  font-weight: 540;
  /* font-size: 1.1rem; */
  margin-left: 1rem;
}
